<html>
    <head>
    <style>
        body{
    
    background-image: url(https://i.ytimg.com/vi/DyJTVkRP1vY/maxresdefault.jpg);
      background-repeat:no-repeat;
      background-attachment:fixed;  
      background-size:cover;
      
        }

    

</style>
</head>
    <body>
        <h1 style="color: rgb(253, 253, 249);font-family:Verdana, Geneva, Tahoma, sans-serif;text-align: center;font-size:300%;">Beans & Brews <br><br></h1>
        <h1 style="color: rgb(246, 238, 200);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;font-size:300%;">Home Page <br><br><br><br></h1>
       
        <a href="/login" style="color: beige;font-size: 200%;text-align: center;">Login</a></style>
    
    </body>
</html>